h1 {
    text-align: center;
    font-size: 90px;
    font-family: 'Comic Sans MS', cursive;
    height: 80px;
}
p {
    text-align: center;
}
.quiz-container {
    text-align: center;
}

.back {
    display: inline-block ;
    text-decoration: none;
    color: black;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: salmon;
    font-family: 'Arial', cursive;
}
.button-time {
    text-align: center;
    margin-top: 40px;
}
