body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: rgb(245, 245, 245);
}

p {
    text-align: center;
    font-size: 1.2em;
    color: rgb(90, 90, 90);
}

.title {
    margin-top: 1.5em;
    text-align: center;
    font-size: 2.8em;
}

.quiz-title {
    text-align: center;
    margin-top: 3em;
}

.quiz-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.2em;
    background-color: #ffffff;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.quiz-buttons button {
    padding: 0.9em 1.4em;
    font-size: 1em;
    font-weight: 600;
    border: none;
    border-radius: 0.6em;
    background-color: #f0f2f5;
    color: #2c3e50;
    cursor: pointer;
}

.quiz-buttons button:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.quiz-L:hover {
    background-color: #e60012;
    color: #ffffff;
}

.quiz-N:hover {
    background-color: #ffcb05;
    color: #ffffff;
}

.quiz-T:hover {
    background-color: #00a0b0;
    color: #ffffff;
}

.github {
    padding: 0.5em 1em;
    font-size: 0.8em;
    font-weight: 600;
    border: none;
    border-radius: 0.6em;
    background-color: #040404;
    color: white;
    cursor: pointer;
}

.github:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.github-container {
    font-size: 1.4em;
    text-align: center;
    margin-top: 4em;
}