body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fce883;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.quiz-card {
    background-color: white;
    padding: 30px;
    width: 350px;
    text-align: center;

    border-color: black;
    border-radius: 1em;
    border-width: 0.25em;
    border-style: solid;
}

.txt {
    text-align: center;
    margin-bottom: 20px;
}

.antwoorden {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.antwoorden button {
    margin: 5px;
    padding: 10px 15px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;

    border-color: black;
    border-radius: 0.75em;
    border-width: 0.20em;
    border-style: solid;
    background-color: white;
}

.btn-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.btn {
    padding: 12px 20px;
    background-color: #e60012;
    color: white;
    border: none;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}